body {
    font-family: Arial-BoldMT,HelveticaNeue,AdobeInvisFont,MyriadPro-Regular;
    color: #848484;
}

.logo-row {
    background: url('img/img@1x.png') no-repeat center center /cover 
}

.triple-row-col > div > div > img {
    opacity: 0.5;
}

.notify-logo {
    font-family: Pacifico;
    font-size: 4vw;
    color: #FFFFFF;
}

.sentence {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    color: #FFFFFF;
}

.social-media {
    width: 54px;
    height: 54px;
    margin: 10px;
}

.my-top-line {
    background-color: #2ECC71;
    height: 8px;
}

.mini-icons {
    position: absolute;
    left: 30px;
    top: 10px;
}

.midi-icons {
    position: relative;
    top:-89px;
}

.dot {
    color:#2ECC71;
}

.dot-id > div > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

h3 {
    font-family: HelveticaNeue-Bold;
    font-size: 22px;
}

.row-nr-4 {
   background-color: #E3E3E3; 
   fill: #848484;
}

.img-hand {
    margin-top: 94px;
}
